/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00ee8a;
  --primary-hover: #00ce78;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #fff;
  --background-color: rgba(245,245,245);
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #00ee8a;
    --primary-hover: #00ce78;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #fff;
    --background-color: #11191f;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00ee8a;
  --primary-hover: #00ce78;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #fff;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body {
  min-height: 100vh;
}

button {
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

button:disabled {
  opacity: 0.4;
  user-select: none;
  cursor: not-allowed;
  pointer-events: all !important;
  filter: grayscale(1);
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
}

h1{
  font-size: 28px;
}

h4{
  font-size: 20px;
}

p{
  font-size: 16px;
}

ul{
  padding: 0.5em 1em;
}
li{
  font-size: 16px;
  margin-bottom: 0;
}

.card {
  margin: 0;
  padding: 1em 2em;
}

.container,
main {
  margin-top: 0;
  padding-top: 0;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}

.accent-border {
  border: 1px solid var(--primary);
}

.container.header {
  margin-bottom: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card {
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin: 10px 0px;
}

.tx {
  margin-bottom: 2em;
}
.txId {
  font-family: monospace;
  margin-right: 10px;
}

footer.container {
  margin-top: 5em;
}

.inputChange {
  margin: 0 10px;
}

.note {
  font-size: 0.9em;
  color: #999;
}

.cadence-container {
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgb(0 0 0 /5%);
  margin-bottom: 1.5em;
}

.two-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
